.block-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  color: #ff8d30;
}

@media (min-width: $tablet-width) {
  .block-title {
    font-size: 45px;
    line-height: 45px;
  }
}
