.country-list {
  position: relative;
  list-style: none;
}

.country-list__item {
  margin-right: 19px;
}

.country-list__item:nth-child(3n) {
  margin-right: 0;
}

.country-list__item img {
  width: 35px;
  height: 24px;
}
