.hashtags-list {
  line-height: 18px;
  list-style: none;
}

.hashtags-list__item {
  margin-right: 5px;
}

.hashtags-list__item a {
  text-decoration: none;
  color: #444444;
}

.hashtags-list__link--tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .hashtags-list {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .hashtags-list__link--tablet {
    display: inline;
  }

  .hashtags-list__link {
    display: none;
  }
}
