.information {
  position: relative;
  z-index: 2;

  background-color: #192144;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.information__wrapper {
  padding-top: 33px;
  padding-bottom: 62px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 18px center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
    background-size: 292px 352px;
  }
}

.information__title {
  margin: 0;
  margin-bottom: 19px;
  padding-left: 24px;
}

.information__text {
  margin: 0;
  padding-left: 25px;
  padding-right: 32px;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  white-space: pre-line;

  color: #ffffff;
}

.information__text--bold {
  font-weight: 700;
}

@media (max-width: $mobile-width-only) {
  .information__button {
    display: none;
  }

  .information {
    background-image: url("../img/blue-back-only-x1.png");
    background-repeat: no-repeat;
    background-position: left 0%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blue-back-only-x2.png");
      background-size: 113px 132px;
    }
  }
}

@media (min-width: $tablet-width) {
  .information {
    padding-top: 66px;
    padding-bottom: 18px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .information__wrapper {
    padding-left: 50px;
    padding-right: 360px;
    padding-bottom: 70px;
    background-image: url("../img/about-tablet-x1.png");
    background-repeat: no-repeat;
    background-position: top -9px right 8px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet-x2.png");
      background-size: 720px 596px;
    }
  }

  .information__title {
    margin-bottom: 40px;
  }

  .information__text {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 31px;
    white-space: normal;
  }

  .information__text-inner {
    white-space: pre-wrap;
  }

  .information__text--bold {
    margin-bottom: 51px;
    font-size: 21px;
    line-height: 25px;
  }

  .information__button {
    display: block;
    width: 215px;
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    padding-top: 72px;
    padding-bottom: 0;
  }

  .information__wrapper {
    padding-left: 106px;
    padding-top: 60px;
    padding-right: 640px;
    padding-bottom: 163px;
    background-image: url("../img/about-desktop-x1.png");
    background-repeat: no-repeat;
    background-position: top -1px right 60px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop-x2.png");
      background-size: 1320px 679px;
    }
  }

  .information__title {
    margin-bottom: 59px;
  }

  .information__text {
    margin-bottom: 36px;
  }

  .information__text-inner {
    white-space: normal;
  }

  .information__text--bold {
    padding-right: 200px;
    margin-bottom: 85px;
  }
}
