.site-list {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  list-style: none;
}

.site-list__item a {
  text-decoration: none;
  color: #192144;
}

@media (min-width: $tablet-width) {
  .site-list {
    font-size: 60px;
    line-height: 71px;
    font-weight: 500;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 656px;
    font-size: 20px;
    line-height: 30px;
  }

  .site-list__item {
    margin-right: 34px;
    margin-bottom: 5px;
  }

  .site-list__item:nth-child(1) {
    padding: 0;
  }

  .site-list__item:nth-child(3) {
    padding: 0;
  }

  .site-list__item:nth-last-child(-n + 1) {
    margin-right: 0;
  }

  .site-list__item span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      transform: translate3d(0, 0, 0);
    }
  }

  .site-list__item a {
    position: relative;
    overflow: hidden;
    display: inline-block;

    color: #ffffff;
  }

  .site-list__link:hover span,
  .site-list__link:focus span {
    color: #ffd74b;
    transform: translateY(-100%);
  }

  .site-list__link:active span {
    opacity: 0.3;
  }

  .main-nav--scrolled a {
    color: #192144;
  }
}
