$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-only: 1439px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$background-mobile: #161c36;
$background-tablet: #182044;
$background-desktop: #161c34;
