.letter-list {
  list-style: none;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  padding: 0;
}

.letter-list__country {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;

  color: #444444;
}

@media (min-width: $tablet-width) {
  .letter-list__country {
    font-size: 20px;
    line-height: 30px;
  }
}
