.modal-country {
  display: none;
  position: absolute;
  top: 2180px;
  width: 220px;
  left: 50%;
  margin-left: -110px;
  border-radius: 4px;
  padding-bottom: 10px;
  z-index: 11;

  background-color: #ffffff;
}

.modal-open {
  display: block;
}

.modal-country__title {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #1d2e5b;
}

.modal-country__alphabet-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border-top: none;
  margin-bottom: 10px;

  color: #1d2e5b;
}

.modal-country__alphabet-letter:hover,
.modal-country__alphabet-letter:focus {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #959bb2;
}

.modal-country__close-button {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: none;

  background-color: transparent;

  &::before,
  &::after {
    content: "";

    position: absolute;

    top: 8px;
    left: 1px;

    width: 14px;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.3);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.modal-country__close-button:hover::before,
.modal-country__close-button:focus::after,
.modal-country__close-button:focus::before,
.modal-country__close-button:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

.modal-country__close-button:active::before,
.modal-country__close-button:active::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal-country__letter-list {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;

  color: #444444;
}

.modal-country__letter-list a:hover,
.modal-country__letter-list a:focus {
  color: #1d2e5b;
}

.modal-country__letter-list a:active {
  color: rgba(29, 46, 91, 0.3);
}

@media (min-width: $tablet-width) {
  .modal-country {
    top: 3425px;
    width: 369px;
    margin-left: -266px;
    padding-bottom: 0;

    box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  }

  .modal-country__alphabet-list {
    width: 285px;
    margin-left: 27px;
    margin-bottom: 0;
  }

  .modal-country__title {
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 23px;
  }

  .modal-country__alphabet-item {
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    height: auto;
    border: 1px solid #cbced9;

    color: #1d2e5b;
  }

  .modal-country__alphabet-item:nth-child(5n+1),
  .modal-country__alphabet-item:nth-child(n+21) {
    border: 1px solid #cbced9;
  }

  .modal-country__alphabet-item:nth-child(n+21) {
    border: 1px solid #cbced9;
  }

  .modal-country__alphabet-letter {
    opacity: 1;
    width: 48px;
    padding-left: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .modal-country__alphabet-letter--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  .modal-country__close-button {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      top: 15px;
      left: 3px;
      width: 24px;
      height: 2px;
    }
  }

  .modal-country__wrapper {
    width: 573px;
    display: flex;
    padding-top: 34px;
    padding-bottom: 33px;

    background-color: #ffffff;
  }

  .modal-country__letter-list {
    position: relative;
    padding-left: 85px;
    padding-right: 20px;

    &::before {
      content: "";

      position: absolute;

      top: -34px;
      left: 56px;
      width: 1px;
      height: 415px;

      background-color: #eaecf2;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal-country {
    top: 2990px;
    width: 730px;
    margin-left: -500px;
  }

  .modal-country__alphabet-list {
    width: 440px;
  }

  .modal-country__alphabet-item {
    margin-right: 14px;
    margin-bottom: 14px;
    max-height: 70px;
    padding-bottom: 0;
    text-align: center;
  }

  .modal-country__alphabet-item:nth-child(9) {
    padding-bottom: 0;
  }

  .modal-country__alphabet-item:nth-child(11) {
    padding-bottom: 0;
  }

  .modal-country__alphabet-item:nth-child(16) {
    padding-bottom: 0;
  }

  .modal-country__alphabet-letter {
    opacity: 1;
    width: 57px;
    padding-left: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .modal-country__wrapper {
    padding-bottom: 18px;
    width: 730px;
  }

  .modal-country__letter-list {
    display: flex;
    flex-direction: column;
    margin-right: 52px;
  }

  .modal-country__letter-list li:last-child {
    order: 1;
  }

  .modal-country__letter-list li:nth-child(4) {
    order: 2;
  }

  .modal-country__letter-list li:nth-child(5) {
    order: 3;
  }

  .modal-country__letter-list li:nth-child(7) {
    order: 4;
  }

  .modal-country__letter-list li:nth-child(9) {
    order: 5;
  }

  .modal-country__letter-list li:nth-child(10) {
    order: 6;
  }

  .modal-country__letter-list li:first-child {
    order: 7;
  }

  .modal-country__letter-list li:nth-child(2) {
    order: 8;
  }

  .modal-country__letter-list li:nth-child(3) {
    order: 9;
  }

  .modal-country__letter-list li:nth-child(6),
  .modal-country__letter-list li:nth-child(8) {
    display: none;
  }
}
