.page-footer {
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1;

  background-color: #ffffff;
}

.page-footer__wrapper {
  margin-top: -114px;
  padding-right: 25px;
  padding-left: 26px;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 29px;
}

.page-footer__logo img {
  width: 100px;
  height: 19px;
}

.page-footer__social {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 46px;
}

.page-footer__social a {
  border-radius: 50%;
  background-color: #ffd74b;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;
  font-weight: 400;

  color: #444444;
}

.copyright__link svg {
  fill: #192144;
}

@media (max-width: $mobile-width-only) {
  .page-footer__copyright::before {
    content: "";

    position: absolute;

    top: -15px;
    left: 0;
    width: 270px;
    height: 1px;

    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .page-footer__wrapper {
    margin-top: -109px;
    padding-top: 48px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 18px;
    flex-direction: row;
  }

  .page-footer__social {
    padding: 0;
    margin: 0 auto;
    padding-right: 12px;
  }

  .page-footer__logo {
    padding-top: 10px;
  }

  .page-footer__logo img {
    width: 166px;
    height: 42px;
  }

  .copyright__text {
    font-size: 20px;
    line-height: 24px;
    margin-right: 24px;
  }

  .page-footer__copyright {
    padding-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 49px;
    padding-right: 61px;
    padding-left: 61px;
    padding-bottom: 16px;
  }

  .page-footer__logo {
    margin-top: -9px;
  }

  .page-footer__logo img {
    width: 198px;
    height: 52px;
  }

  .page-footer__social {
    padding-left: 0;
    padding-right: 43px;
  }
}
