.round-diagram {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 16px;
  left: 17px;
  z-index: 1;
}

.round-diagram svg {
  width: 60px;
  height: 60px;
}

.round-diagram__progress-pie {
  transform: rotate(-90deg);

  stroke: #ff8d30;
  fill: #000000;
  fill-opacity: 0.7;
}

.round-diagram__level {
  position: absolute;

  top: 14px;
  left: 17px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  z-index: 1;

  color: #ffffff;
}

.round-diagram__text {
  position: absolute;

  top: 40px;
  left: 18px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 0.9;
  z-index: 1;

  color: #ffffff;
}

.round-diagram::before {
  content: "";
  position: absolute;

  top: 36px;
  left: 15px;
  width: 30px;
  height: 1px;
  opacity: 0.3;
  z-index: 5;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .round-diagram {
    top: 19px;
    left: 19px;
  }

  .round-diagram__level {
    top: 15px;
    left: 17px;
  }

  .round-diagram__text {
    top: 40px;
    left: 19px;
  }

  .round-diagram::before {
    top: 37px;
    left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .round-diagram {
    top: 23px;
    left: 23px;
  }

  .round-diagram__level {
    top: 14px;
    left: 17px;
  }

  .round-diagram__text {
    top: 40px;
    left: 17px;
  }

  .round-diagram::before {
    top: 36px;
    left: 15px;
  }
}
