.route {
  position: relative;
  margin-top: -45px;
  padding-top: 79px;
  padding-bottom: 35px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 2;
  background-color: #ffd74b;
}

.route__link {
  display: block;
  position: relative;
  font-weight: 700;
  padding-left: 61px;
  padding-right: 30px;
  margin-bottom: 31px;
  text-transform: uppercase;
  text-decoration: none;

  color: #192144;
}

.route__link::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  background-color: #121936;
}

.route__link::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 16px;

  width: 14px;
  height: 22px;

  background-image: url("../img/contacts-location.svg");
  background-repeat: no-repeat;
}

.route__button {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding-left: 21px;
  font-size: 18px;
  padding-top: 21px;
  padding-bottom: 17px;
  border: 3px solid #192144;

  &:hover,
  &:focus {
    background-color: #192144;
    color: #ffffff;
  }

  &:hover::before,
  &:focus::before {
    border-color: transparent transparent transparent #ffffff;
  }

  &:active {
    color: transparentize($color: #ffffff, $amount: 0.3);
  }

  &:active::before {
    opacity: 0.3;
  }
}

.route__button::before {
  top: 19px;
  right: 11px;

  width: 4px;
  height: 2px;

  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent #1d2e5b;

  background-image: none;
}

@media (min-width: $tablet-width) {
  .route {
    padding-top: 115px;
    padding-bottom: 85px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .route__wrapper {
    padding-left: 76px;
    padding-right: 75px;
  }

  .route__link {
    font-size: 28px;
    line-height: 28px;
    padding-left: 92px;
    margin-bottom: 61px;
  }

  .route__link::before {
    content: "";

    position: absolute;
    top: -22px;
    left: 0;

    width: 67px;
    height: 67px;
    border-radius: 50%;

    background-color: #121936;
  }

  .route__link::after {
    width: 21px;
    height: 31px;

    top: -3px;
    left: 22px;
  }

  .route__button {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    padding-top: 26px;
    padding-bottom: 25px;
    padding-left: 30px;
  }

  .route__button::before {
    top: 30px;
    right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .route {
    padding-top: 104px;
    padding-bottom: 60px;
  }

  .route__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 312px;
    padding-right: 134px;
  }

  .route__button {
    width: auto;
    padding-left: 31px;
    padding-right: 66px;
  }

  .route__link {
    margin: 0;
    align-self: center;
  }

  .route__link::before {
    top: -32px;
    left: -29px;

    width: 90px;
    height: 90px;
  }

  .route__link::after {
    top: -6px;
    left: 2px;

    width: 28px;
    height: 43px;
  }
}
